<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
</head>
<body>
	<a href="{% url 'login' %}">
	<div class="slider">
		
		<span style="--i:1;"><img src="{% static 'images/friends.jpg' %}" alt=""></span>
		<span style="--i:2;"><img src="{% static 'images/fa.jpg' %}" alt=""></span>
		<span style="--i:3;"><img src="{% static 'images/w.jpg' %}" alt=""></span>
		<span style="--i:4;"><img src="{% static 'images/super-pretty-girl.jpg' %}" alt=""></span>
		<span style="--i:5;"><img src="{% static 'images/favicon.jpg' %} " alt=""></span>
		<span style="--i:6;"><img src="{% static 'images/ch.jpg' %}" alt=""></span>
		<span style="--i:7;"><img src="{% static 'images/ais.jpg' %}" alt=""></span>
		<span style="--i:8;"><img src="{% static 'images/girl.png' %}" alt=""></span>
		
	</div>
</a>
</body>
</html>